<!--
Arshdeep Singh
4/22/20
Dating site
-->
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Dating</title>
</head>
<body>
    <!--top navebar-->
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" >Dating Website</a>
        </div>
    </nav>

<div id="main" class="container">

    <h1>Dating Website</h1>

    <p>Welcome to the web's most successful dating website. Here you'll meet another
    like minded individuals. We have highest success rate of couples. User's are
    matched by interest and locations. Come find out yourself!</p>

    <img src="images/FFFF.jpg" alt="flower" class="img-rounded" style="float:right">

    <h2>Hear what our users are saying about us.</h2>
    <hr class="my-4">
    <blockquote>"I met the love of my life after only a month!" - Andrea</blockquote>
    <blockquote>"Its so easy to set up a profile and start meeting people.
    I didn't realize how many other were looking for love in my area." - John Smith</blockquote>
    <blockquote>"Just try it! You'll never be the same!" - Sarah</blockquote>
    <hr class="my-4">

    <button type="submit" class="btn btn-primary">Create a Profile!</button>
</div>
</body>
</html>