<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interests</title>
</head>
<body>
    <!--top navebar-->
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" >Dating Website</a>
        </div>
    </nav>

    <h1>Interests</h1>

    <label>In-door Interests</label>

    <input type="checkbox">
    <label>tv</label>

    <input type="checkbox">
    <label>movies</label>

    <input type="checkbox">
    <label>cooking</label>

    <input type="checkbox">
    <label>board games</label>

    <input type="checkbox">
    <label>puzzles</label>

    <input type="checkbox">
    <label>reading</label>

    <input type="checkbox">
    <label>playing games</label>

    <input type="checkbox">
    <label>video games</label><br>

    <label>Out-door Interests</label>

    <input type="checkbox">
    <label>hiking</label>

    <input type="checkbox">
    <label>biking</label>

    <input type="checkbox">
    <label>swimming</label>

    <input type="checkbox">
    <label>collecting</label>

    <input type="checkbox">
    <label>walking</label>

    <input type="checkbox">
    <label>climbing</label>



</body>
</html>