<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Profile</title>
</head>
<body>
    <!--top navebar-->
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" >Dating Website</a>
        </div>
    </nav>
<div class="container">
    <h1>Profile</h1>

<form action="#" method="post">
    <div class="col-sm-6">
    <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email">
    </div>
    <div class="form-group">
    <label>State</label>
    <select class="form-control">
        <option>Alabama</option>
        <option>Alaska</option>
        <option>Arizona</option>
        <option>Arkansas</option>
        <option>California</option>
        <option>Colorado</option>
    </select>
    </div>
    <div class="form-group">
    <label>Seeking</label>
        <repeat group="{{ @gender}}" value="{{ @seek}}">
            <input type="radio" name="seek" id="{{ @seek}}" value="{{ @seek}}"> {{ ucFirst(@seek)}}</input><br>
        </repeat>
    </div>
    </div>

    <div class="col-sm-6">
    <div class="form-group">
    <label for="bio">Biography</label>
        <textarea class="form-control" rows="5" type="text" name="bio" id="bio"></textarea>
    </div>
    <!--button-->
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Next></button>
    </div>
    </div>
</form>
</div>
</body>
</html>