<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <!--top navebar-->
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" >Dating Website</a>
        </div>
    </nav>

    <h1>Profile</h1>

    <label>Email</label>
    <input><br>

    <label>State</label>
    <select>
        <option>Alabama</option>
        <option>Alaska</option>
        <option>Arizona</option>
        <option>Arkansas</option>
        <option>California</option>
        <option>Colorado</option>
    </select><br>

    <label>Seeking</label><br>
    <input type="radio">
    <label>Male</label>
    <input type="radio">
    <label>Female</label><br>

    <label>Biography</label>
    <textarea></textarea>

    <!--button-->
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Next></button>
    </div>

</body>
</html>