<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Summary</title>
</head>
<body>
    <div class="container" id="summary">
        <div class="col-sm-6">
        <p>Name: {{ @SESSION.first}} {{ @SESSION.last}}</p>
        <p>Age: {{ @SESSION.age}}</p>
        <p>Gender: {{ @SESSION.gend}}</p>
        <p>Phone: {{ @SESSION.phone}}</p>
        <p>Email: {{ @SESSION.email}}</p>
        <p>Seeking: {{ @SESSION.seek}}</p>
        <check if="{{ isset(@SESSION.interests) }}">
            <check if="{{ isset(@SESSION.outinterests) }}">
            <p>Interests:  {{ implode(@SESSION.interests, ", ") }} {{ implode(@SESSION.outinterests, ", ") }}</p>
            </check></check>
        </div>

    <div class="col">
        <p>Biography<br>
        {{ @SESSION.bio}}</p>
    </div>
    </div>
    <!--button-->
    <div class="text-center ">
        <input class="btn btn-primary"
               type="submit" value="Contact Me!">
    </div>
</body>
</html>